footer{
    background: #111;
    font-family: Open sans-serif;
    color: #fff;
    padding: 2rem;
    display: grid;
    gap: 1rem;
}
.quotes {
    position: relative;
}
.quotes::before {
    content: "“";
    position: absolute;
    top: .3rem;
    left: -1rem;
    font-size: 3rem;
}
.quotes::after {
    content: "”";
    position: absolute;
    top: .3rem;
    right: -1rem;
    font-size: 3rem;
}
.footer-content{
    display: grid;
    place-items: center;
    gap: 1rem;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    

    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
  font-size: 1.1rem;  
  transition: color .4s ease;
}
.socials a:hover i{
    color: #c43921;
}
.footer-bottom{
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.seconadary-nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}
a:hover{
    color: #c43921;
    transition: .4s;
}