<section class="about" id="about">
    <img src="/assets/img/1.jpg" data-aos="fade-zoom-in" data-aos-duration="1500">
    <div class="about-txt" data-aos="fade-down" data-aos-duration="1500" data-aos-easing="ease-in-back">
        <h2>ABOUT ME</h2>
        
        <p> 
            Hi my name is Daniel i am an energetic person who has developed a mature and responsible
            approach to any task that I undertake, or situation that I am presented with. i am dedicated
            to collaborating closely with clients and team members to ensure their needs and goals are met.
            My passion for web development, make me a valuable asset to any organization looking to establish
            or enhance their online presence. As a college student of web development, I am excellent in working
            with others to achieve a certain objective on time and with excellence.</p>
        <!-- <p>   
            I am a quick learner who enjoys collaborating with others to achieve project goals. 
            I am passionate about web development and I am always looking for ways to improve my
            skills and stay up-to-date with the latest technologies and trends in the industry.
        </p>  -->
            
        <!-- <p></p>  -->

            
    </div>
    </section>
    
    
    