<section class="gallery" id="gallery">
  <h2
    data-aos="fade-down"
    data-aos-duration="1500"
    data-aos-easing="ease-in-back"
  >
    PROJECTS
  </h2>
  <div
    class="gallery-container"
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1500"
    data-aos-easing="ease-in-back"
  >
    <div class="gallery-item">
      <a href="https://mommyobaking.store" target="”_blank”"
        ><img src="/assets/img/mommyobaking.PNG" alt="Gallery Image 1"
      /></a>
    </div>
    <div class="gallery-item">
      <a
        href="http://kaperrano.epizy.com/?fbclid=IwAR20Um4UXYA63jcz-z4Y5zGs9rzOTG3UHLibpVWUe2kHUViWUcJbJ9RV7Hc&i=1"
        target="”_blank”"
        ><img src="/assets/img/caferano.PNG" href="#" alt="Gallery Image 2"
      /></a>
    </div>
    <div class="gallery-item">
      <a
        href="https://scintillating-granita-34e7cb.netlify.app"
        target="”_blank”"
        ><img src="/assets/img/qr-code.png" alt="Gallery Image 3"
      /></a>
    </div>
    <!-- <div class="gallery-item">
        <img src="" alt="Gallery Image 5">
      </div>
      <div class="gallery-item">
        <img src="" alt="Gallery Image 6">
      </div>
      <div class="gallery-item">
        <img src="" alt="Gallery Image 7">
      </div>
      <div class="gallery-item">
        <img src="" alt="Gallery Image 8">
      </div> -->
  </div>
  <button class="button-gallery">↑ click to visit!</button>
</section>
