<div class="skillsbox" >

    <div class="skills" id="skills-scroll">
      <h1 class="h1-skills" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="900">MY SKILLS</h1>
      <div class="skills-links"data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="900">
        <a><i class="fab fa-html5"></i></a>
        <a><i class="fab fa-css3-alt"></i></a>
        <a><i class="fab fa-js"></i></a>
        <a><i class="fab fa-github"></i></a>
        <a><i class="fab fa-angular"></i></a>
      </div>
    </div>

</div>
